{% load static %}
<link rel="stylesheet" href="{% static 'app/index.css' %}" />

<header>
  <h1>REGISTRO DE TAREAS</h1>
</header>
<body>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecha de entrega</th>
      <th>Prioridad</th>
      <th>Acciones</th>
    </tr>
    {% for tarea in tareas %}
      <tr>
        <td>
          <a href="{% url 'ver_respuestas' tarea.id %}">{{ tarea.nombre }}</a>
        </td>
        <td>{{ tarea.descripcion }}</td>
        <td>{{ tarea.fecha_de_entrega }}</td>
        <td>{{ tarea.prioridad }}</td>
        <td>
          <button onclick="location.href='{% url 'responder_tarea' tarea.id %}'">Responder</button>
        </td>
      </tr>
    {% endfor %}
  </table>
</body>
